.ReactionTimeTestCSS .bigAssButton {
  margin-top: 15px;
  width: 660px;
  height: 400px;
  font-size: 1em;
}

.ReactionTimeTestCSS .waiting {
  cursor: progress;
}

.ReactionTimeTestCSS ol {
  padding-left: 80px;
}
